
@{
    Layout = null;
}
<div id="clearance" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo1"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno1"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate1"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname1"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-md-6" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Final Result Date :</b></label></span>
                <label id="finalResultDate_clearance"></label>
            </div>
        </div>
        <div class="col-md-6" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Library ID :</b></label></span>
                <label id="libraryid_clearance"></label>
            </div>
        </div>
    </div>
</div>

