@{
    Layout = null;
}
<div id="collegeID" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo5"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno5"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate5"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname5"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-6 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Section :</b></label></span>
                <label id="ID_section"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Challan No. :</b></label></span>
                <label id="ID_challan"></label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Current Semester :</b></label></span>
                <label id="ID_semester"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>College ID Date :</b></label></span>
                <label id="ID_date"></label>
            </div>
        </div>
    </div>
</div>
