@{
    Layout = null;
}
<div id="CourseData" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo12"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno12"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate12"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname12"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div style="padding-left:10%">
            <table class="table table-bordered " style="width:450px">
                <thead class="thin-border-bottom">
                    <tr>

                        <th>
                            Course Code
                        </th>
                        <th>
                            Course Title
                        </th>
                        <th>
                            Credit Hours
                        </th>
                        <th>
                            Teacher Name
                        </th>
                    </tr>
                </thead>
                <tbody id="courseTable"></tbody>
            </table>
        </div>
    </div>
    
</div>

