@{
    Layout = null;
}
<div id="general_request" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo13"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno13"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate13"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname13"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Subject:</b></label></span>
                <label id="general_Subject"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Current Semester :</b></label></span>
                <label id="general_semester"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Section :</b></label></span>
                <label id="general_section"></label>
            </div>
        </div>
    </div>
</div>