@{
    Layout = null;

}
<!--ITEM DEMAND -->
<div id="labReservation_request" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo18"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Designation:</b></label></span>
                <label id="rollno18"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate18"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname18"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <span class="blue"><label><b>Lab Type: </b></label></span>
            <label id="labTypeDiv"></label>
        </div>
        <div class="col-xs-12 col-sm-5">
            <span class="blue"><label><b>No. of Computers: </b></label></span>
            <label id="noOfComps"></label>
        </div>
    </div>
    <div class="space-4"></div>
    <div id="permanent_LabApp" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-sm-7" style="padding-left:10%">
                    <span class="blue"><label><b>Day :</b></label></span>
                    <label id="perDayApp"></label>
            </div>
            <div class="col-xs-12 col-sm-5">
                <span class="blue"><label><b>Time :</b></label></span>
                <label id="perTimeApp"></label>
            </div>
        </div>
        
    </div>
    <div id="temporary_LabApp" style="display:none">
        <div class="row">
            <div class="col-xs-12 col-sm-7" style="padding-left:10%">
                <span class="blue"><label><b>Date for Lab :</b></label></span>
                <label id="tempDateApp"></label>
            </div>
            <div class="col-xs-12 col-sm-5">
                <span class="blue"><label><b>Time :</b></label></span>
                <label id="tempTimeApp"></label>
            </div>
        </div>
        
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <span class="blue"><label><b>Suggested Lab: </b></label></span>
            <label id="suggestedLab"></label>
        </div>

    </div>

</div>