@{
    Layout = null;
}
<div id="Leave" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo2"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno2"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate2"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname2"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Father's Name :</b></label></span>
                <label id="leave_fname"></label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Current Semester :</b></label></span>
                <label id="leave_semester"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Leave required from :</b></label></span>
                <label id="fromdate"></label>&nbsp;&nbsp
                <span class="blue"><label><b> to </b></label></span>&nbsp;
                <label id="todate"></label>
            </div>
        </div>
    </div>
</div>
