@{
    Layout = null;
}
<div id="receiptOriginalDocs" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo7"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno7"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate7"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname7"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Father's Name :</b></label></span>
                <label id="doc_fname"></label>
            </div>
            <div class="space-4"></div>
            <span class="blue"><label> <b>Required Documents:</b></label></span>
            @*<div class="message-list-container">
                <div class="message-list" id="DocsList"></div>
                </div>*@
            <ul id="DocsList"></ul>
        </div>
        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Section :</b></label></span>
                <label id="doc_section"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Current Semester :</b></label></span>
                <label id="doc_semester"></label>
            </div>
        </div>
    </div>
</div>

