
@{
    Layout = null;

}
<!--Room Reservation  -->
<div id="RoomReservation_request" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo19"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Designation:</b></label></span>
                <label id="rollno19"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate19"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname19"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div id="RoomRes_Date">
        <div class="row">
            <div class="col-xs-12 col-sm-7" style="padding-left:10%">
                <span class="blue"><label><b>Reservation Date :</b></label></span>
                <label id="RoomDay"></label>
            </div>
            <div class="col-xs-12 col-sm-5">
                <span class="blue"><label><b>Time :</b></label></span>
                <label id="RoomTime"></label>
            </div>
        </div>
        <div class="space-4"></div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <span class="blue"><label><b>Multimedia Required:</b></label></span>
            <label id="multimediaReq"></label>
        </div>
        <div class="col-xs-12 col-sm-5">
            <span class="blue"><label><b>Total Students :</b></label></span>
            <label id="totalStudents"></label>
        </div>
        <div class="space-4"></div>

    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-5" style="padding-left:10%">
            <span class="blue"><label><b>Purpose :</b></label></span>
            <label id="RoomPurpose"></label>
        </div>
    </div>
</div>

