@{
    Layout = null;
}
<div id="Freeze_Withdrawal" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo9"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno9"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate9"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname9"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-6 col-sm-7" style="padding-left:10%">
            <div class="widget-box" style="border:none;">
                <div>
                    <span class="blue"><label> <b>    Semester to Freeze/Withdraw :   </b></label></span>
                    <label id="ToFreeze"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Current Semester :</b></label></span>
                <label id="Freeze_Currentsemester"></label>
            </div>
        </div>
    </div>
</div>

