@{
    Layout = null;
}
<div id="VehicleData" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-sm-7" style="padding-left:10%">
            <div>
                <span class="blue"><label><b>Diary No. :</b></label></span>
                <label id="DiaryNo6"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Roll No. :</b></label></span>
                <label id="rollno6"></label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div>
                <span class="blue"><label><b>Date:</b></label></span>
                <label id="mydate6"></label>
            </div>
            <div class="space-4"></div>
            <div>
                <span class="blue"><label><b>Name :</b></label></span>
                <label id="myname6"></label>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="row">
        <div class="col-xs-6 col-sm-7" style="padding-left:10%">
            <div class="widget-box" style="border:none;">
                <div>
                    <span class="blue"><label><b> Semester    :   </b></label></span>
                    <label id="V_CurrentSemester"></label>
                </div>
                <div class="space-4"></div>
                <div style="text-align:right">
                    <span class="blue"><label> <b><u>Vehicle Specifications</u></b></label></span>
                </div>
                <div class="space-4"></div>
                <div>
                    <span class="blue"> <label><b> Manufacturer    :   </b></label></span>
                    <label id="VehicleManufacturer"></label>
                </div>
                <div class="space-4"></div>
                <div>
                    <span class="blue"><label> <b> Model   :   </b></label></span>
                    <label id="VehicleModel"></label>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <div class="widget-box" style="border:none;">
                <div>
                    <span class="blue"><label> <b> Section    :   </b></label></span>
                    <label id="V_section"></label>
                </div>
                <div class="space-4"></div>
                <div>
                    <span class="blue"><label> <b></b></label></span>
                </div>
                <div class="space-4"></div>
                <div>
                    <span class="blue"> <label><b> Registration No.    :   </b></label></span>
                    <label id="VehicleReg"></label>
                </div>
                <div class="space-4"></div>
                <div>
                    <span class="blue"><label> <b> Owner's Name    :   </b></label></span>
                    <label id="VehicleOwner"></label>
                </div>
            </div>
        </div>
    </div>
</div>
