@{
    Layout = null;
}

<div id="collegeIdCard" style="display:none">
    <div class="row">
        <div class="space-4"></div>
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="form-field-username"><b>Name: </b> </label>
                    <label id="name" for="form-field-username">@ViewBag.Name</label>
                </div>
            </div>
            <div class="col-md-3">
                <label for="form-field-first"><b>Roll No: </b></label>&nbsp;
                <label id="rollNo" class="text" for="form-field-first">@ViewBag.RollNo</label>
            </div>
            <div class="col-md-3">
            </div>
            <div class="space-4"></div>
            <div class="space-4"></div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label class="asterisk" for="form-field-username"><b>Current Semester: </b></label>
                <div id="semester_result_ID"></div>
                <select class="input-sm form-control" id="collegeIdCard_semester" autofocus>
                    <option id="college_non" selected disabled>Choose one</option>
                    <option id="one">1</option>
                    <option id="2nd">2</option>
                    <option id="3rd">3</option>
                    <option id="4th">4</option>
                    <option id="5th">5</option>
                    <option id="6th">6</option>
                    <option id="7th">7</option>
                    <option id="8th">8</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="asterisk" for="form-field-username"><b>Challan No: </b></label>
                <div id="challan_result_ID"></div>
                <input id="collegeIdCard_challan" placeholder="123456789_1" type="text" class="input-sm form-control" maxlength="11">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label class="asterisk" for="form-field-username"><b>Section: </b></label>
                <label for="form-field-username">@ViewBag.Section</label>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="space-4"></div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form-field-username"><b>Reason: </b></label>
                    <textarea id="collegeIdCard_reason" class="form-control" maxlength="200" rows="6"></textarea>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="space-4"></div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="asterisk" for="form-field-username"><b>Attachments:  (.jpg, .gif, .png)</b></label>
                    <div id="attach_result_ID"></div>
                    <ul>
                        <li>
                            Challan Form copy
                            <div class="space-4"></div>
                            <input type="file" id="collegeIdCardAttachment" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
            </div>

        </div>
    </div>
    <div>
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class="pull-right">
                <i><font color="red">* </font>Indicates required fields.</i>
            </div>
        </div>
    </div>
</div>