@{
    Layout = null;
}

<div id="optionsForBsc" style="display:none">
    <div class="row">
        <div class="space-4"></div>
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="form-field-username"><b>Name: </b> </label>
                    <label id="name" for="form-field-username">@ViewBag.Name</label>
                </div>
            </div>
            <div class="col-md-3">
                <label for="form-field-first"><b>Roll No: </b></label>&nbsp;
                <label id="rollNo" class="text" for="form-field-first">@ViewBag.RollNo</label>
            </div>
            <div class="col-md-3">
            </div>
            <div class="space-4"></div>
            <div class="space-4"></div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="asterisk" for="form-field-username"><b>Current Semester: </b> </label>
                    <div id="bsc_semester_result"></div>
                    <select class="input-sm form-control" id="optionsForBsc_semester" autofocus>
                        <option id="bsc_non" selected disabled>Choose one</option>
                        <option id="one">1</option>
                        <option id="2nd">2</option>
                        <option id="3rd">3</option>
                        <option id="4th">4</option>
                        <option id="5th">5</option>
                        <option id="6th">6</option>
                        <option id="7th">7</option>
                        <option id="8th">8</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label class="asterisk" for="form-field-first"><b>CNIC : </b></label>
                <div id="bsc_cnic_result"></div>
                <input type="text" placeholder="12345-1234567-1" maxlength="15" class="input-sm form-control" id="optionsForBsc_CNIC" />
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label for="form-field-username"><b>PU Registration No : </b></label>
                <div id="bsc_PUreg_result"></div>
                <input id="optionsForBsc_puReg" maxlength="12" placeholder="1234_XXX_567" type="text" class="input-sm form-control"><br />
            </div>
            <div class="col-md-3">
                <label class="asterisk" for="form-field-username"><b>Father's Name: </b></label>
                <label for="form-field-username">@ViewBag.FatherName</label>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label class="asterisk" for="form-field-username"><b>Date of Birth : </b></label>
                <div id="bsc_date_result"></div>
                <div class="input-group">
                    <input class="date-picker12 input-sm form-control" id="optionsForBsc_DOB" type="text" placeholder="MM-DD-YYYY" data-date-format="mm-dd-yyyy" />
                </div>
            </div>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="space-4"></div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form-field-first"><b>Note:</b></label><br />
                    <p>
                        I undertake to opt for an exit after completion of study of the first two years of my BS(Hons Degree).
                        I have no objection for award of 02 years Bachelor degree to me.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3"></div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="asterisk" for="form-field-username"><b>Thumb Impression of Applicant's Parent/Guardian: </b></label><div class="space-4"></div>
                    <textarea id="optionsForBsc_thumbImpression" class="form-control limited" maxlength="200"></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="asterisk" for="form-field-username"><b>Signature of Applicant: </b></label>

                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form-field-username"><b>Reason: </b></label>

                    <textarea id="optionsForBsc_reason" class="form-control" maxlength="200" rows="6"></textarea>
                </div>
            </div>
            <div class="space-4"></div>
            <div class="space-4"></div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding-left:50px;">
            <div class="col-md-3"></div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="asterisk" for="form-field-first"><b>Attachments:  (.jpg, .gif, .png) </b></label><br />
                    <div id="bsc_Attach_result"></div>
                    <ul>
                        <li>
                            Applicants Father's CNIC
                            <div class="space-4"></div>
                            <input type="file" id="applicantsFathersCnic" />
                        </li>

                        <li>
                            Applicant's CNIC
                            <div class="space-4"></div>
                            <div class="form-group">
                                <input type="file" id="applicantsCnic" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div>
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class="pull-right">
                <i><font color="red">* </font>Indicates required fields.</i>
            </div>
        </div>
    </div>
</div>